# Specific Keeps
!.gitkeep
!*.yaml
!*.yml
!.gitignore
!*.md
!radarr/config.xml

# Extension Ignores
*.DS_Store
*.log
*.db
*.db-shm
*.db-wal
*.db-journal
*.pyc
*.sqlite
*.key
*.pub
*.crt
*.ca-bundle
*.zip
*.csr
*.pid
._*
*.lock
*.conf
*.pickle

# Directory Ignores
homeassistant/.cloud
homeassistant/.storage
homeassistant/deps
homeassistant/tts
homeassistant/.uuid
hass_dev/.cloud
hass_dev/.storage
hass_dev/deps
hass_dev/tts
hass_dev/.uuid
hass_backup
.c9
.vscode
db
dockermon
jackett
organizr
portainer
radarr
sonarr
tautulli
traefik
transmission
lidarr
sabnzbd
grafana
influxdb
nodered
prometheus
alertmanager

# Specific Files
docker/.env
homeassistant/.spotify-token-cache
homeassistant/ip_bans.yaml
homeassistant/secrets.yaml
homeassistant/core
homeassistant/.homekit.state
homeassistant/known_devices.yaml
hass_dev/.spotify-token-cache
hass_dev/ip_bans.yaml
hass_dev/secrets.yaml
hass_dev/core
hass_dev/.homekit.state
hass_dev/known_devices.yaml