# Specific Keeps
!.gitkeep
!*.yaml
!*.yml
!.gitignore
!*.md
!radarr/config.xml

# Extension Ignores
*.log
*.db
*.db-shm
*.db-wal
*.db-journal
*.pyc
*.sqlite
*.key
*.pub
*.crt
*.ca-bundle
*.zip
*.csr
*.pid
._*
*.lock
*.conf

# Directory Ignores
homeassistant/.cloud
homeassistant/.storage
homeassistant/deps
homeassistant/tts
.c9
db
dockermon
jackett
organizr
portainer
radarr
sonarr
tautulli
traefik
transmission
lidarr
sabnzbd
grafana
influxdb

# Specific Files
docker/.env
homeassistant/.spotify-token-cache
homeassistant/ip_bans.yaml
homeassistant/secrets.yaml
homeassistant/core
homeassistant/.homekit.state
homeassistant/known_devices.yaml
